/* src/app/product-list/product-list.component.scss */
#product-container {
  width: 45%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product {
  border: 1px solid #dddddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.product img {
  width: 200px;
  height: 200px;
}

.product-title {
  font-size: 16px;
  margin: 10px 0;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #f00101;
}

.price-sold {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.product-inStock {
  font-size: 14px;
  color: #999999;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #218838;
}
