<h1>Đây là cửa hàng của XXX</h1>

<div id="container">
  <div id="product-container">
    @for (product of products; track $index) {
    <div id="product-card">
      <h2>{{ product.name }}</h2>
      <h2>{{ product.price }}</h2>
      <h2>{{ product.inStock }}</h2>
      <button
        [disabled]="product.inStock == 0 ? true : false"
        (click)="addToCart($index)"
      >
        Thêm vào giỏ
      </button>
    </div>  
    }
  </div>

  <div id="cart-container">
    @for (product of cart; track $index) {
    <div id="product-in-cart">
      <p>{{ product.name }}</p>
      <p>{{ product.price }}</p>
      <p>{{ product.quantity }}</p>
    </div>
    }
  </div>
</div>
